<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
  <div class="container d-flex justify-content-between align-items-center">
    <h2 class="m-0">Sommermetallwerkstatt</h2>

    <div class="d-flex gap-3">
      <ng-container *ngIf="!isEmployeeLoggedIn && !isManagerLoggedIn">
        <a class="login-button" href="/register">
          <mat-icon class="icon-display">login</mat-icon>
          Registrierung
        </a>
        <a class="login-button" href="/login">
          <mat-icon class="icon-display">login</mat-icon>
          Anmeldung
        </a>
      </ng-container>

      <ng-container *ngIf="isManagerLoggedIn">
        <a class="login-button" href="/manager/dashboard">
          <mat-icon class="icon-display">dashboard</mat-icon>
          Dashboard
        </a>
        <a class="login-button" href="/manager/project">
          <mat-icon class="icon-display">create</mat-icon>
          Projekt erstellen
        </a>
        <a class="login-button" href="/employee/task">
          <mat-icon class="icon-display">create</mat-icon>
          Aufgabe hinzufügen
        </a>
        <a class="logout-button" href="/logout" (click)="logout()">
          <mat-icon class="icon-display">logout</mat-icon>
          Abmeldung
        </a>
      </ng-container>

      <ng-container *ngIf="isEmployeeLoggedIn && !isManagerLoggedIn">
        <a class="login-button" href="/employee/dashboard">
          <mat-icon class="icon-display">dashboard</mat-icon>
          Dashboard
        </a>
        <a class="login-button" href="/employee/task">
          <mat-icon class="icon-display">create</mat-icon>
          Aufgabe hinzufügen
        </a>
        <a class="logout-button" href="/logout" (click)="logout()">
          <mat-icon class="icon-display">logout</mat-icon>
          Abmeldung
        </a>
      </ng-container>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
