<nav
  class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3 sticky-top"
>
  <div class="container">
    <a class="navbar-brand fs-4 fw-bold text-gold" routerLink="/">
      Sommermetallwerkstatt
    </a>

    <!-- Bouton hamburger (mobile) -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navcontent"
      aria-controls="navcontent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-end" id="navcontent">
      <ul class="navbar-nav align-items-center gap-3">
        <!-- Non connecté -->
        <ng-container *ngIf="!isLogged">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">
              <mat-icon>login</mat-icon> Anmeldung
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="nav-link">
              <mat-icon>person_add</mat-icon> Registrierung
            </a>
          </li>
        </ng-container>

        <!-- Manager -->
        <ng-container *ngIf="isManager">
          <li class="nav-item">
            <a routerLink="/manager/dashboard" class="nav-link">
              <mat-icon>dashboard</mat-icon> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/manager/project" class="nav-link">
              <mat-icon>add_circle</mat-icon> Projekt erstellen
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/employee/task" class="nav-link">
              <mat-icon>assignment</mat-icon> Aufgabe
            </a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link text-danger">
              <mat-icon>logout</mat-icon> Abmelden
            </a>
          </li>
        </ng-container>

        <!-- Employee -->
        <ng-container *ngIf="isEmployee && !isManager">
          <li class="nav-item">
            <a routerLink="/employee/dashboard" class="nav-link">
              <mat-icon>dashboard</mat-icon> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/employee/task" class="nav-link">
              <mat-icon>assignment</mat-icon> Aufgabe
            </a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link text-danger">
              <mat-icon>logout</mat-icon> Abmelden
            </a>
          </li>
        </ng-container>
        <li class="nav-item">
          <button class="btn btn-outline-secondary" (click)="toggleTheme()">
            <mat-icon *ngIf="!isDark">dark_mode</mat-icon>
            <mat-icon *ngIf="isDark">light_mode</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenu principal -->
<main class="container my-4">
  <router-outlet></router-outlet>
</main>
