.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #343a40;
}

.form-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #495057;
}

.form-input,
.form-textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #80bdff;
  outline: none;
}

.form-textarea {
  height: 100px;
  resize: none; /* Prevents resizing */
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3; /* Darker shade of primary color */
}

.p-toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}
