<main>
  <h1 class="text-center">Aufgabe hinzufügen</h1>
  <form
    class="form-container d-flex flex-column w-50 m-auto"
    [formGroup]="validateForm"
    (submit)="postProject()"
  >
    <!-- Dropdown zur Auswahl eines Projekts -->
    <label for="project">Projekt</label>
    <select formControlName="projectId" id="project" class="form-control">
      <option *ngFor="let project of projects" [value]="project.id">
        {{ project.projectName || "Unbenanntes Projekt" }}
      </option>
    </select>

    <!-- Beschreibung der Aufgabe -->
    <label for="description">Beschreibung</label>
    <textarea
      type="text"
      placeholder="Beschreibung"
      formControlName="description"
      id="description"
      class="form-control"
    ></textarea>

    <!-- Anzahl der Stunden -->
    <label for="hours">Stunden</label>
    <input
      type="number"
      placeholder="Stundenzahl eingeben"
      formControlName="hours"
      id="hours"
      class="form-control"
    />

    <!-- Absenden-Button -->
    <button class="btn btn-primary mt-4" type="submit">Hinzufügen</button>
  </form>
</main>
