<h1 class="title text-center mb-5">Projekt dashboard</h1>
<table class="m-auto">
  <thead>
    <tr>
      <th>Projekte</th>
      <th>datum</th>
      <th>Kunde</th>
      <th>Beschäftigte</th>
      <th>Arbeitzeit</th>
      <th>Total Arbeitzeit</th>
    </tr>
  </thead>
  <tbody>
    @for (project of projects; track project; let index = $index) {
    <tr>
      <td>
        <a [routerLink]="['/manager/project', project.id]">{{
          project.projectName
        }}</a>
      </td>
      <td>{{ project.createdAt | date : "dd/MM/yyyy" }}</td>
      <td>{{ project.clientName }}</td>

      <td>
        @for (user of project.users; track $index) {
        <tr scope="row">
          {{
            user.name
          }}
        </tr>
        <div style="width: 100%; height: 1px; background-color: #000"></div>

        }
      </td>

      <td>
        @for (user of project.users; track $index) {
        <tr>
          {{
            user.workHours
          }}
        </tr>

        }
      </td>
      <td>{{ project.workHours }}</td>
    </tr>
    }
  </tbody>
</table>
