<h1 class="title text-center mb-5">Projekt-Dashboard</h1>

<table class="project-table m-auto">
  <thead>
    <tr>
      <th>Projekte</th>
      <th>Datum</th>
      <th>Kunde</th>
      <th>Mitarbeiter</th>
      <th>Arbeitszeit</th>
      <th>Gesamtarbeitszeit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects; let i = index">
      <td>
        <a [routerLink]="['/manager/project', project.id]">
          {{ project.projectName }}
        </a>
      </td>
      <td>{{ project.createdAt | date : "dd/MM/yyyy" }}</td>
      <td>{{ project.clientName }}</td>
      <td>
        <ul>
          <li *ngFor="let user of project.users">{{ user.name }}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let user of project.users">{{ user.workHours }}</li>
        </ul>
      </td>
      <td>{{ project.workHours }}</td>
    </tr>
  </tbody>
</table>
