<main>
  <h1 class="title text-center mb-5">Dashboard</h1>
  <table class="m-auto">
    <thead>
      <tr>
        <th>Projekte</th>
        <th>datum</th>
        <th>Kunde</th>
        <th>Beschäftigte</th>
        <th>Arbeitzeit</th>
      </tr>
    </thead>
    <tbody>
      @for (mappedProject of mappedProjects; track mappedProject; let index =
      $index) {
      <tr>
        <td>{{ mappedProject.projectName }}</td>
        <td>{{ mappedProject.date }}</td>
        <td>{{ mappedProject.clientName }}</td>

        <td>
          @for (user of mappedProject.users; track $index) {
          <tr scope="row">
            {{
              user.user.name
            }}
          </tr>
          <div style="width: 100%; height: 1px; background-color: #000"></div>

          }
        </td>

        <td>
          @for (user of mappedProject.users; track $index) {
          <tr>
            {{
              user.hoursTravailler
            }}
          </tr>

          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
