<main class="dashboard-container">
  <p-toast></p-toast>

  <!-- Schaltflächen zum Wechseln zwischen Dashboards -->
  <div class="dashboard-toggle-buttons">
    <button class="toggle-button" (click)="changeDashboard(true)">
      Projekt-Dashboard
    </button>
    <button class="toggle-button" (click)="changeDashboard(false)">
      Mitarbeiter-Dashboard
    </button>
  </div>

  <!-- Projekt-Dashboard -->
  <project-dashboard
    *ngIf="isProjectDashboardActive; else employeeDashboard"
    [projects]="projects"
  >
  </project-dashboard>

  <!-- Mitarbeiter-Dashboard -->
  <ng-template #employeeDashboard>
    <h1 class="title text-center">Mitarbeiter-Dashboard</h1>

    <!-- Filter -->
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Filter</mat-label>
      <mat-select
        [(value)]="selected"
        (selectionChange)="onChangeFilter(selected)"
      >
        <mat-option [value]="0">Alle</mat-option>
        <mat-option [value]="1">Diese Woche</mat-option>
        <mat-option [value]="2">Diesen Monat</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Tabelle der Mitarbeiterdaten -->
    <table class="employee-table">
      <thead>
        <tr>
          <th>Mitarbeiter</th>
          <th>Aufgabe</th>
          <th>Stunden</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUserDashboard">
          <td>{{ user.name }}</td>
          <td>
            <ul>
              <li *ngFor="let task of user.tasks">{{ task.description }}</li>
            </ul>
          </td>
          <td>{{ user.workHours }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</main>
