<main>
  <div class="w-full d-flex"></div>
  <button class="w-50" (click)="changeDashboard(true)">
    Project Dashboard
  </button>
  <button class="w-50" (click)="changeDashboard(false)">
    Employee dashboard
  </button>

  <project-dashboard
    [projects]="projects"
    *ngIf="isProjectDashboardActive === true; else employeeDashboard"
    #projectDashboard
  >
  </project-dashboard>

  <ng-template #employeeDashboard>
    <h1 class="title text-center mb-5">Beschäftige dashboard</h1>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <mat-select
        [(value)]="selected"
        (selectionChange)="onChangeFilter(selected)"
      >
        <mat-option [value]="0">Alle</mat-option>
        <mat-option [value]="1">Diese Woche</mat-option>
        <mat-option [value]="2">Diese Monat</mat-option>
      </mat-select>
    </mat-form-field>

    <table class="m-auto">
      <tHead>
        <th>Beschäftige</th>
        <th>Aufgabe</th>
        <th>Stunde</th>
      </tHead>
      <tbody>
        @for (user of filteredUserDashboard; track user) {
        <tr>
          <td>
            {{ user.name }}
          </td>

          <td>
            @for (tasks of user.tasks; track $index) {
            <p>{{ tasks.description }}</p>
            }
          </td>
          <td>
            {{ user.workHours }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </ng-template>
</main>
