<div class="form-container d-flex align-items-center justify-content-center">
  <form
    class="login-form p-4 rounded shadow bg-white"
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <h2 class="text-center mb-4 text-primary">Anmeldung</h2>

    <div class="form-group mb-3">
      <label for="username" class="form-label">E-Mail-Adresse</label>
      <input
        id="username"
        type="email"
        class="form-control"
        formControlName="username"
        placeholder="E-Mail eingeben"
        required
      />
    </div>

    <div class="form-group mb-4">
      <label for="password" class="form-label">Passwort</label>
      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Passwort"
        required
      />
    </div>

    <p-toast></p-toast>

    <button
      type="submit"
      class="btn btn-primary w-100 py-2 fw-semibold"
      [disabled]="validateForm.invalid"
    >
      Einreichen
    </button>
  </form>
</div>
