<div>
  <h1 class="text-center">Projekt erstellen</h1>
  <form
    class="d-flex flex-column m-auto w-50"
    [formGroup]="validateForm"
    (ngSubmit)="postProject()"
  >
    <label> Name </label>
    <input
      placeholder="project name"
      formControlName="projectName"
      id="projectName"
    />

    <label> Client </label>
    <input placeholder="client name" formControlName="client" id="clientName" />

    <label> Details </label>
    <input placeholder="details" formControlName="details" id="details" />

    <input class="mt-5" type="submit" name="create project" value="erstellen" />
  </form>
</div>
