<div>
  <h1>Create Project</h1>
  <form [formGroup]="validateForm" (ngSubmit)="postProject()">
    <label> name </label>
    <input
      placeholder="project name"
      formControlName="projectName"
      id="projectName"
    />

    <label> client </label>
    <input placeholder="client name" formControlName="client" id="clientName" />

    <label> details </label>
    <input placeholder="details" formControlName="details" id="details" />

    <input type="submit" name="create project" />
  </form>
</div>
