<main>
  <h1 class="title">Dashboard</h1>
  <table>
    <thead>
      <tr>
        <th>Projects</th>
        <th>datum</th>
        <th>Employees</th>

        <th>hours work on</th>
      </tr>
    </thead>
    <tbody>
      @for (mappedProject of mappedProjects; track mappedProject; let index =
      $index) {
      <tr>
        <td>{{ mappedProject.projectName }}</td>
        <td>15.09.2004</td>

        <td>
          @for (user of mappedProject.users; track $index) {
          <tr scope="row">
            {{
              user.user.name
            }}
          </tr>
          <div style="width: 100%; height: 1px; background-color: #000"></div>

          }
        </td>

        <td>
          @for (user of mappedProject.users; track $index) {
          <tr>
            {{
              user.hoursTravailler
            }}
          </tr>

          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
