<div class="w-50 mx-auto mt-10 parent">
  <div class="text-black parent al">
    <div class="child">
      <h2 style="margin-left: 55px">Manager Sign-up</h2>
    </div>
    <form
      class="d-flex flex-column gap-3"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <label>Email:</label>
      <input placeholder="email" formControlName="email" id="email" />
      <label>Name:</label>
      <input placeholder="name" formControlName="name" id="name" />
      <label>address:</label>
      <input placeholder="address" formControlName="address" id="address" />
      <label>password:</label>
      <input
        placeholder="password"
        formControlName="password"
        id="password"
        type="password"
      />
      <label>paswordConfirmation:</label>
      <input
        placeholder="passwordConfirmation"
        type="password"
        formControlName="passwordConfirmation"
        id="passwordConfirmation"
      />
      <button type="submit">andrew</button>
    </form>
  </div>
</div>
