<div class="w-50 mx-auto mt-10 parent">
  <div class="text-black parent al">
    <div class="child">
      <h2 style="margin-left: 55px">Mitarbeiter Registrierung</h2>
    </div>
    <form
      class="d-flex flex-column gap-3"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <label>Email:</label>
      <input placeholder="E-Mail" formControlName="email" id="email" />
      <label>Nachname:</label>
      <input placeholder="Nachname" formControlName="name" id="name" />
      <label>Vorname:</label>
      <input placeholder="Vorname" formControlName="lastName" id="lastName" />
      <label>Passwort:</label>
      <input placeholder="Passwort" formControlName="password" id="password" />
      <label>Passwortbestätigung:</label>
      <input
        placeholder="Passwortbestätigung"
        formControlName="passwordConfirmation"
        id="passwordConfirmation"
      />
      <button type="submit">Registrieren</button>
    </form>
  </div>
</div>
