<main class="project-container text-center">
  <h1>{{ project.projectName }}</h1>

  <div class="project-info d-flex justify-space-around">
    <h2 class="small-heading">
      Kunde:
      <span class="font-weight-bold">{{ project.clientName }}</span>
    </h2>
    <h2 class="small-heading">
      Arbeitszeit:
      <span class="font-weight-bold">{{ project.workHours }}</span> Stunden
    </h2>
  </div>

  <div class="action-buttons mt-4">
    <p-button (click)="onDeleteProject()" severity="danger" label="Löschen"
      ><mat-icon class="icon-display">delete</mat-icon></p-button
    >

    <p-button (click)="navigateToUpdate()" severity="warning" label="Bearbeiten"
      ><mat-icon class="icon-display">edit</mat-icon></p-button
    >
  </div>

  <h3 class="description-heading mt-5">Beschreibung:</h3>
  <p class="description-text">{{ project.details }}</p>

  <table class="project-table mt-5">
    <thead>
      <tr>
        <th>Mitarbeiter</th>
        <th>Aufgabe</th>
        <th>Stunden</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of project.users">
        <td>{{ user.name }}</td>
        <td>
          <ul>
            <li *ngFor="let task of user.tasks">{{ task.description }}</li>
          </ul>
        </td>
        <td>{{ user.workHours }}</td>
      </tr>
    </tbody>
  </table>
</main>
